<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home:Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
      <h1>Almuni Management Login</h1>
      <div class="loginPortal">
        <form method="post" action="/" id="login">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">

          <label for="whois">Select who are you</label>
          <select name="whois">
            <option value="student">student</option>
            <option value="alumni">alumi</option>

          </select>
          <input type="submit" value="Login">
          </form>
      </div>

  </body>
</html>
